@import "../../assets/scss/utils.scss";

.slick-slide {
  padding: 10px;
    

}

@keyframes animateBg {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

/*
* MOVIE COVER ELEMENT
*/
.movie-element {
  z-index: 1;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s, opacity 0.4s;

  * {
    transition: transform 0.4s, opacity 0.4s;
  }

  @include hover-supported {
    transform: scale(1.1);
    z-index: 10;
    transition: transform 0.4s, z-index 0.4s;

    .movie-element__title {
      color: var(--bg-color);
    }

    .movie-element__container-image {
      position: relative;
      .container-icon {
        opacity: 1;
      }
    }

    .movie-element__infos {
      opacity: 1;
    }
  }


  &__title {
    color: grey;
  }

  &__container-image {
    position: relative;
    height: 59vw !important;

      @include sm {
        height: 38vw !important;
      }

      @include md {
        height: 28vw !important;
      }

      @include xl {
        height: 20vw !important;
      }
    .container-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      background-image: var(--linear-color);
      opacity: 0;
      
      .content-icon {
        position: relative;
        height: 100%;
        width: 100%;
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          height: 50%;
          width: 50%;
        }
      }
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      height: 59vw !important;

      @include sm {
        height: 38vw !important;
      }

      @include md {
        height: 28vw !important;
      }

      @include xl {
        height: 20vw !important;
      }
    }
  }

  &__infos {
    display: flex;
    flex-direction: column;
    background: white;
    opacity: 0;
    padding: 5px 10px;
    height: 42px;
    justify-content: space-between;

    .info-1 {
      color: var(--bg-color);
      font-size: 0.7rem;
      font-weight: 700;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .info-2 {
      color: var(--bg-color);
      margin-top: 0rem;
      font-size: 0.7rem;
      font-weight: 500;
    }
  }

  /*
  * ELEMENT LOADING (BEFORE REVEAL)
  */

  // LOADER
  &:after {
    content: "";

    opacity: 0;
    transition: opacity 1s;
    animation: animateBg 1s linear infinite;
    background-image: linear-gradient(45deg, #141414, #1f1e1e, #141414);
    background-size: 100% 500%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: none !important;
    height: 59vw;
    @include sm {
      height: 38vw;
    }

    @include md {
      height: 28vw;
    }

    @include xl {
      height: 20vw;
    }

    @include hover-supported {
    }
    .container-icon {
      display: none;
    }
    .movie-element__infos {
      display: none;
    }

    img {
      opacity: 0;
      transition: opacity 1s;
    }
  } 
  
  &.img-loading {
    
    &:after {
      opacity: 1;
    }
  }
}
