@import "../../assets/scss/_media.scss";

#slider-header {
  width: 100%;
  height: 56.25vw;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 14rem;

  @include md {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45.25vw;
    padding-top: 0;
    margin-bottom: -5rem;
    overflow: hidden;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-image: linear-gradient(
      90deg,
      rgba(13, 13, 13, 1) 0%,
      rgba(13, 13, 13, 1) 29%,
      rgba(13, 13, 13, 0.8379726890756303) 34%,
      rgba(13, 13, 13, 0.6026785714285714) 46%,
      rgba(13, 13, 13, 0) 58%
    );
    background-size: contain;

    @include md {
      width: 70%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-image: linear-gradient(
      0deg,
      rgba(13, 13, 13, 1) 14%,
      rgba(13, 13, 13, 0.562) 46%,
      rgba(13, 13, 13, 0) 100%
    );
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    z-index: 10;
  }

  .video {
    position: absolute;
    height: 130%;
    width: 100%;
    right: 0;
    top: -101px;
    display: none;
    @include md {
      width: 105.25vw;
      right: -130px;
      display: block;
    }
    .block-controls-video {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .btn-toggle-sound {
      position: absolute;
      bottom: 70px;
      right: 20px;
      z-index: 20;
      border: 1px solid white;

      height: 40px;
      width: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      @include hover-supported {
        background-color: rgba(255, 255, 255, 0.219);
      }

      @include md {
        height: 50px;
        width: 50px;
        bottom: 110px;
        right: 190px;
      }

      @include lg {
        bottom: 130px;
      }

      @include xl {
        bottom: 170px;
      }

      @include xxl {
        bottom: 190px;
      }
      svg {
        width: 20px;
        height: 20px;

        @include md {
          width: 25px;
          height: 25px;
        }

        &.bi-volume-mute {
          display: none;
        }
        &.bi-volume-up {
          display: block;
        }
      }

      &.muted {
        svg {
          &.bi-volume-mute {
            display: block;
          }
          &.bi-volume-up {
            display: none;
          }
        }
      }
    }
  }

  .content {
    z-index: 10;
    display: block;
    margin-top: 30px;
    position: absolute;
    bottom: -20px;
    width: 100%;
    transform: translateY(100%);

    @include md {
      position: relative;
      transform: initial;

      display: block;
      width: 50%;
      margin-top: 0px;
      margin-bottom: 100px;
    }

    @include lg {
      width: 500px;
    }

    .title-movie {
      font-family: var(--font-title);
      font-weight: 600;
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 0;

      @include md {
        font-size: 1.5rem;
        text-align: initial;
      }
      @include lg {
        font-size: 2rem;
      }
    }

    .container-description-movie {
      max-height: 500px;
      transition: all 1.5s;
      overflow: hidden;
      &.hide-text {
        @include md {
          max-height: 0;
        }
      }
    }
    .description-movie {
      margin-top: 0.5rem;
      overflow: hidden;
      font-size: 0.8rem;
      max-height: 50px; /* fallback */
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
      display: -webkit-box;
      margin-bottom: 0.5rem;
      text-align: center;

      @include md {
        display: -webkit-box;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        text-align: initial;
      }
    }

    .btn {
      margin-left: auto;
      display: block;
      margin-right: auto;
      margin-top: 0.5rem;
      @include md {
        margin-left: initial;
        margin-right: initial;

        display: initial;
        margin-top: 1rem;
      }
    }
  }
}
