.list-movies {
  padding-top: 5rem;
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    .column {
      display: flex;
      flex-direction: column;
      flex-basis: 20%;
      flex: 0 1 20%;
      flex-flow: wrap;
    }
  }
}
