.list-movies {
  padding-top: 5rem;
  .row {
    display: grid;
    grid-template-columns: repeat(5, 20%);

    .column {
      padding:20px 10px;

      .movie-element {
        &.img-loading {
          height: 25vw !important;
        }
      }

    }
  }
}
