@import "../../assets/scss/utils.scss";

#bg-blur-menu {
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.76);
  z-index:50;
  opacity: 0;
  visibility: hidden;
  transition:opacity .4s, visibility 0s .4s ease-in-out;

  
  &.show {
    opacity: 1;
    visibility: visible;
    transition:opacity .4s;

  }
}

.navbar {
  width: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg-color);
  z-index: 70;
  @include md {
    height: 80px;
  }

  

  .logo {
    width: 120px;

    @include md {
      width: 150px;
    }
  }

  .btn-toggle-menu {
    display: flex;
    flex-direction: column;
    width: 30px;
    cursor: pointer;

    @include lg {
      display: none !important;
    }

    span {
      background: var(--action-color);
      border-radius: 10px;
      height: 3px;
      margin: 3px 0;
      transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    span:nth-of-type(1) {
      width: 50%;
    }

    span:nth-of-type(2) {
      width: 100%;
    }

    span:nth-of-type(3) {
      width: 75%;
    }

    &.show {

      span:nth-of-type(1) {
        transform-origin: bottom;
        transform: rotatez(45deg) translate(5px, 0px);
      }
  
      span:nth-of-type(2) {
        transform-origin: top;
        transform: rotatez(-45deg);
      }
  
      span:nth-of-type(3) {
        transform-origin: bottom;
        width: 50%;
        transform: translate(13px, -5px) rotatez(45deg);
      }
    }

  }

  .container-menu {
    transition: all .5s;;
    @include lg {
      .logo-menu-mobile {
        display: none;
      }

      .menu {
        flex-direction: row;
        display: flex;

        &__item {
          margin: 0px 20px;
          font-family: var(--font-text);
          font-size: 1rem;
          display: flex;
          align-items: center;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    @include max-lg {
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      background: var(--bg-color);
      max-width: 100%;
      width: 300px;
      transform: translateX(-100%);
      padding: 20px 0;
      &.show {
        transform: translateX(0);
      }

      
      .logo-menu-mobile {
        margin-left: 20px;
      }

      .menu {
        margin-top:2rem;
        &__item {
          padding: 20px;
          font-family: var(--font-text);
          font-size: 1rem;
          border-top: 1px solid rgba(255, 255, 255, 0.178);
          display: flex;
          align-items: center;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
